MONGODB_URI=mongodb://localhost:27017/breast_cancer
MONGODB_URI_DOCKER=mongodb://mongodb:27017/breast_cancer
AI_SERVICE_URL=http://localhost:8001
AI_SERVICE_URL_DOCKER=http://ai-service:8001
PORT=8000
CORS_ORIGIN=http://localhost:3000
